h1 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-size: 2.2rem;
    color: #2d384b;
}

p {
    text-align: center;
    font-size: 1.2rem;
    color: #555b6e;
    margin-bottom: 3rem;
}

a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 0.75rem 1.5rem;
    background-color: #3f72af;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}