.main-page-container {
    * {
        margin: 0;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
    h1 {
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.05em;
        font-size: 2.2rem;
        color: #2d384b;
    }
    
    p {
        margin: 10px;
        text-align: center;
        font-size: 1.2rem;
        color: #555b6e;
    }
    
    a {
        display: block;
        width: fit-content;
        padding: 0.75rem 1.5rem;
        background-color: #3f72af;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: 500;
        transition: background-color 0.3s ease;
    
        &:hover {
            background-color: #2c5aa0;
        }
    }
}
