form {
    max-width: 350px;
    margin: 60px auto;
    padding: 2rem 2.5rem 2.5rem 2.5rem;
    border-radius: 14px;
    background: #fff;
    box-shadow: 0 8px 32px rgba(60, 72, 83, 0.2), 0 1.5px 6px rgba(32, 35, 39, 0.2);
    display: flex;
    flex-direction: column;

    mat-form-field {
        width: 100%;

        input {
            font-size: 1rem;
            padding: 0.2em 0.8em;
        }
    }

    button[type="submit"] {
        margin-top: 0.5rem;
        font-weight: 600;
        font-size: 1.06rem;
        padding: 0.7em 0;
        color: #294686;
        border-color: #294686;
        border-radius: 8px;
        transition: background 0.18s, color 0.18s, filter 0.15s;

        &:hover {
            background: #294686;
            color: #fff;
            filter: drop-shadow(0 2px 8px rgba(41, 70, 134, 0.09));
        }
    }
}