<ng-container #dynamicErrorHost></ng-container>
<form [formGroup]="userLoginForm" (submit)="loginUser()">
    <mat-form-field>
        <mat-label>User Email</mat-label>
        <input matInput formControlName="userEmail" type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="userPassword" type="password">
    </mat-form-field>
    <br>
    <button mat-stroked-button type="submit">
        Log In
    </button>
</form>
