<p>route-builder-page works!</p>

<div class="work-space">
    <div class="wall-container">
        <app-climbing-wall [wall]="wallData" [routeID]="routeID" (emitClickedHold)="onHoldClicked($event)"></app-climbing-wall>
    </div>
    <div class="toolbar">
        <button type="submit" (click)="randomRouteBuilder()" style="width: fit-content;">Random Rotation</button>
        <div *ngFor="let state of states">
            <input type="radio" name="stateSelection" value="{{ state }}" (change)="radioChangeHandler($event)">
            <i>{{ state }}</i>
        </div>
        <div class="slider-container">
            <label for="angleSlider">Hold Angle: </label><br>
            <input type="range" id="angleSlider" min="0" max="360" value="0" (input)="sliderChangeHandler($event)">
            <div id="angleDisplay">{{holdAngleValue}}°</div>
        </div>
        
    </div>
    <div class="routeAttributes">
        <form [formGroup]="routeCreatingForm" (submit)="saveBoulder()">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="routeTitle" type="text">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <input matInput formControlName="routeDescription" type="text">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Grade</mat-label>
                <input matInput formControlName="routeGrade" type="text">
            </mat-form-field>
            <br>
            <button mat-stroked-button type="submit">
                Save Boulder
            </button>
        </form>
    </div>
</div>



